<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Raisin Automation Suite" parallel="false" verbose="1">
	<test name="Raisin Test Challenge" group-by-instances="true" preserve-order="true" enabled="true">
		
		
		<classes>
		  	<class name="raisinChallenge.raisinAutomation.PagesTest.OfferPageTest"/>
		  	<class name="raisinChallenge.raisinAutomation.PagesTest.BankMoodyRateTest"/>
		  	<class name="raisinChallenge.raisinAutomation.PagesTest.EasyAccessTest"/>
		  	
		</classes>
		
	</test>

</suite>